*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: cornflowerblue;
   
}

header{
    position: fixed;
    width:100%;
    z-index: 1;
    top:0;
}
header > div{
    display: flex;
    flex-wrap: nowrap;
    background-color:#00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.hea{
    background-color: #1CD1B0;
    font-size: 12px;
    padding: 9px 0px 9px 20px;
}
h1{
    align-self: center;
    padding-left: 20px;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 150px;
    padding-bottom: 90px;
    
}
.carta{
    width: 300px;
    background-color: #F3F3F3;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin: 15px;
    display:flex;
    flex-direction:column;
}
.logo{
    width: 12%;
    position:relative;
    left: 20px;
    top:-18rem;
}
.avatar{
    width: 40%;
    border-radius: 100%;
    position:relative;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    position: relative;
    top:-80px;
    text-transform: uppercase;
}
.parrafo{
    padding:20px;
    position: relative;
    top:-70px;
    text-align:center;
    
}
.boton{
    background-color:#00669F;
    color:white;
    text-decoration: none;
    padding:10px 15px 10px 15px;
    width: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.botonAñadir{
    position:fixed;
    width:5%;
    height: calc(width);
    top: 500px;
    right: 30px;
    font-size:60px;
    border-radius: 100%;
    background-color:#00669F;
    text-decoration: none;
    color:white;
    text-align: center;
}


footer{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #00669F;
    position:fixed;
    bottom: 0px;
    width: 100%;
}
.formulario{
    background-color: white;
    
}
.formulario1{
        
    margin-left: auto;
    margin-right: auto;
    height:650px;
    width: 700px;
    background-color: #00669F;
    color:white;
    border-radius: 40px;
    margin-top: 130px;
    text-align: center;
   
}
.formulario2{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    gap: 20px;
    
    
}

h3{
    text-align: center;
    padding:20px;
    font-size: 25px;
}

form>p {
    text-align: center;
}

.datos{
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin-top:10px;
}

.datosD{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    margin-top:10px;
    padding:10px;
}
.datosArc{
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: 14px;
    color:black;
    position:relative;
    top:17px;
    

}



@media  (max-width: 720px)and (min-width:480px){
   
    .carta{
        width:100%;
    }
    .parrafo{
        font-size: 25px;
        padding: 30px;
    }
    .avatar{
        top: -145px;
    }
    .logo{
        top:-90vw;
        left:5vw;
    }
    h2{
        font-size: 45px;
    }
    .boton{
        width: 100px;
        font-size: 20px;
        
    }


    
}